* {
    margin: 0;
}

nav {
    float: left;
    width: 18%;
    height: 100vh;
}

.title {
    color: rgb(9, 49, 82);
    font-size: 50px;
    font-weight: 700;
    width: 100%;
    height: 100vh;
    background-image: url(../img/bg.gif);
    background-repeat: no-repeat;
    background-size: cover;
    /* position: fixed; */
    /* opacity: 0.3; */
}

.name {
    margin-left: 400px;
    padding-top: 300px;
}

.post {
    background-color: rgb(9, 49, 82);
    color: white;
    width: 620px;
    margin-left: 400px;
}

.down a {
    color: white;
    text-decoration: none;
}

.menu {
    height: 100vh;
    width: 18%;
    background-color: rgb(9, 49, 82);
    position: fixed;
    float: left;
}

.navbar {
    margin-top: 170px;
}

.navbar ul li {
    padding: 40px 0 0 50px;
    list-style: none;
    font-weight: 600;
    font-size: 20px;
}

.menu ul li a {
    color: white;
    text-decoration: none;
}

.menu ul li a:hover {
    color: gray;
}

.social {
    padding-top: 80px;
}

.social ul {
    font-size: 22px;
}

.social ul li {
    display: inline-block;
    padding-left: 15px;
}

.social ul li i {
    color: white;
}

.content {
    width: 82%;
    height: 100vh;
    float: left;
    margin: auto;
}

#profile {
    height: 70vh;
}

.container {
    width: 82%;
    /* height: 100vh; */
    margin: auto;
}

.h1 {
    text-align: center;
    padding-top: 50px;
    font-size: 40px;
    color: rgb(9, 49, 82);
}

.line {
    width: 450px;
    height: 2px;
    background-color: gray;
    margin: 20px 0 0 270px;
}

.info {
    margin: 50px 0 0 30px;
    text-align: center;
}

.about {
    float: left;
    width: 400px;
    margin-left: 25px;
    color: rgb(9, 49, 82);
}

.about p {
    text-align: justify;
    font-size: 18px;
    color: gray;
    padding-top: 20px;
}

.img {
    float: left;
    width: 300px;
}

.img img {
    width: 150px;
    height: 150px;
    border: 4px solid gray;
    border-radius: 50%;
    margin: 15px 0 0 40px;
}

.details {
    float: left;
    width: 400px;
    margin-left: 150px;
    color: rgb(9, 49, 82);
}

.details h2,
p {
    text-align: left;
}

.details h4 {
    text-align: left;
    padding-top: 10px;
}

.details p {
    color: gray;
}

.btn {
    margin: 30px 0 0 -295px;
    padding: 10px;
    width: 115px;
    height: 35px;
    border-radius: 14px;
    font-weight: 700;
    border: none;
    background-color: rgb(9, 49, 82);
    color: white;
}

.btn a {
    color: white;
    text-decoration: none;
}

#education {
    background-color: rgb(250, 244, 244);
    height: 120vh;
}

.a {
    margin: auto;
    padding-left: 50px;
    text-align: center;
    padding-top: 5px;
    width: 100%;
}

.a a {
    color: white;
    text-decoration: none;
}

.kkv {
    height: 50px;
    width: 50px;
    margin-top: 30px;
    margin-left: 20px;
    padding-top: 18px;
    margin: auto;
}

.kkv img {
    float: left;
    height: 150px;
    width: 150px;
    margin-left: -415px;
    margin-top: 15px;
    border-radius: 50%;
}

.school {
    text-align: center;
    padding-left: 88px;
    color: white;
    font-size: 20px;
    font-weight: 500;
}

.fnt {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 85px;
    color: white;
}

.board {
    padding-left: 180px;
    margin: auto;
    background-color: rgb(9, 49, 82);
    height: 200px;
    width: 200px;
    margin: 40px 0 0 400px;
}

.info1 {
    /* float: left; */
    margin-top: -34px;
    margin-left: -210px;
}

.duration {
    float: left;
    width: 400px;
    margin-left: 137px;
    margin-top: 28px;
    color: gray;
}

.company {
    float: left;
    width: 400px;
    padding-left: 50px;
    padding-top: 25px;
    color: gray;
}

#experience {
    height: 80vh;
    margin-top: 50px;
}

#abilities {
    background-color: rgb(250, 244, 244);
    height: 120vh;
}

.center h1 {
    margin: 0;
    padding-top: 50px;
    color: rgb(9, 49, 82);
    text-transform: uppercase;
    letter-spacing: 2px;
}

.skillBox {
    box-sizing: border-box;
    width: 90%;
    margin: 20px 0;
}

.skillBox p {
    color: rgb(9, 49, 82);
    text-transform: uppercase;
    margin: 0 0 10px;
    padding: 0;
    font-weight: bold;
    letter-spacing: 1px;
}

.skillBox p:nth-child(2) {
    float: right;
    position: relative;
    top: -25px;
}

.skill {
    padding: 4px;
    box-sizing: border-box;
    border: 1px solid rgb(9, 49, 82);
    border-radius: 2px;
}

.skill_level {
    background-color: gray;
    width: 100%;
    height: 10px;
}

.skills {
    width: 100%;
    height: 500px;
    /* margin-top: 40px; */
}

.technical {
    width: 100%;
    height: 500px;
    font-family: 'Volkhov', serif;
    border: 2px solid white;
    float: left;
}

.languages h1 {
    padding-top: 25px;
    color: rgb(9, 49, 82);
}

.p {
    float: left;
}

.p p {
    padding-top: 15px;
    font-size: 20px;
}

.rate {
    float: left;
    margin: 20px 0 0 650px;
}

.star {
    margin-top: -3px;
    font-size: 17px;
}

#layout {
    height: 100vh;
}

.layout-row {
    float: left;
    height: 300px;
    margin-top: 30px;
}

.layout-row img {
    height: 300px;
    width: 400px;
    margin: 30px 0 0 30px;
    border: 3px solid black;
}

#projects {
    height: 100vh;
}

.example {
    float: left;
    width: 40%;
    height: 250px;
    border: 2px solid rgb(9, 49, 82);
    margin: 50px 0 0 70px;
}

.example img {
    width: 100%;
    height: 250px;
    overflow: hidden;
}

#icons {
    /* width: 200px; */
    height: 100vh;
    /* float: left; */
}

.icon1 {
    float: left;
    width: 200px;
    height: 230px;
    background-color: rgb(9, 49, 82);
}

.hover {
    width: 50px;
    height: 40px;
    background-color: rgb(214, 80, 100);
    margin-top: 16px;
    border-radius: 0 20px 20px 0;
}

.hover:hover {
    width: 100px;
    height: 40px;
    background-color: lightgreen;
}

.hover i {
    transform: rotate(360deg);
    transition: 2s;
}

.hover i {
    padding-left: 26px;
    padding-top: 10px;
    font-weight: 400;
}

.hover i:hover {
    padding-left: 70px;
}

.icon2 {
    float: left;
    width: 300px;
    height: 100px;
    margin: 20px 0 0 20px;
    background-color: gray;
    font-size: 25px;
    padding: 20px 0 0 20px;
}

.effect2 {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    float: left;
    margin: 30px 0 0 30px;
}

.effect2 i:hover {
    color: white;
    background-color: gray;
    font-size: 30px;
}

.effect3 {
    height: 10vh;
    display: flex;
    margin: auto;
    margin-top: 50px;
    margin-left: 100px;
    font-size: 30px;
}

.effect3 ul {
    display: flex;
}

.effect3 ul li {
    width: 100px;
    height: 100px;
    /* background-color: rgb(134, 134, 212); */
    border: 2px solid rgb(134, 134, 212);
    margin: 10px;
    list-style: none;
    border-radius: 50%;
    display: flex;
    position: relative;
    ;
}

.ul li i {
    margin-left: 38px;
    margin-top: 36px;
    color: rgb(70, 70, 102);
}

.ul li::before {
    content: "";
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: rgb(70, 70, 102);
    border-radius: 50%;
    transition: all 0.5s linear;
    z-index: -1;
    opacity: 0;
}

.ul li:hover::before {
    transform: scale(0.8);
    opacity: 1;
}

.ul li i:hover {
    color: white;
}

.facebook {
    width: 55px;
    height: 55px;
    float: left;
    padding-left: 38px;
    padding-top: 36px;
    margin: auto;
}

.facebook i {
    margin-top: -4px;
    margin-left: -4px;
}

.facebook:hover {
    background-color: yellow;
    height: 50px;
    width: 50px;
    color: blue;
    border-radius: 50%;
    margin-top: -5px;
}

.icon4 {
    height: 150px;
    width: 400px;
    background-color: tan;
    margin-top: 200px;
}

.effect4 {
    float: left;
    padding: 22px 0 0 22px;
    margin: 25px 0 0 25px;
    font-size: 25px;
    height: 40px;
    width: 40px;
    border: 4px solid black;
    border-radius: 50%;
}

.effect4:hover {
    border: 4px dotted black;
}

.icon5 {
    height: 150px;
    width: 400px;
    background-color: aquamarine;
    margin: -320px 0 0 550px;
}

.effect5 {
    float: left;
    padding: 19px 0 0 23px;
    margin: 25px 0 0 25px;
    font-size: 25px;
    height: 40px;
    width: 40px;
    color: rgb(158, 45, 64);
    border: 4px solid rgb(158, 45, 64);
    border-radius: 50%;
}

.effect5:hover {
    color: pink;
    background-color: rgb(158, 45, 64);
}

.icon6 {
    height: 200px;
    width: 450px;
    background-color: darkslategray;
    margin: 50px 0 0 50px;
}

.effect6 {
    float: left;
    padding: 19px 0 0 23px;
    margin: 50px 0 0 25px;
    font-size: 25px;
    height: 40px;
    width: 40px;
    color: rgb(158, 45, 64);
    border-radius: 50%;
}

.effect6::before {
    line-height: 92px;
}

.effect6::after {
    top: -4px;
    left: -4px;
    padding: 0;
    z-index: 10;
    border: 4px dashed #fff;
}

.effect6:hover {
    border: 2px dashed white;
    transition: box-shadow 10s;
}

.effect6:hover:after {
    animation: spinAround 9s linear infinite;
}

@keyframes spinAround {
    from {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(360deg);
    }
}

#contact {
    margin-top: 50px;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-image: url(../img/contact-bg.jpg);
    background-repeat: no-repeat;
    background-position: left;
}

#contact h1 {
    /* width: 200px; */
    text-align: right;
    font-size: 40px;
    color: white;
    padding-top: 25px;
    padding-right: 30px;
}

.address {
    float: right;
    width: 550px;
    height: 400px;
    margin-top: 100px;
    background-color: rgb(9, 49, 82);
}

.line3 {
    height: 5px;
    width: 389px;
    background-color: white;
    margin-left: 132px;
}

.p1 {
    text-align: left;
    margin-top: 30px;
    margin-right: 30px;
    font-size: 25px;
    color: white;
}